[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/vendor/start/emmet-vim"]
	path = pack/vendor/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
