[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/vendor/start/emmet-vim"]
	path = pack/vendor/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/vendor/start/vim-airline"]
	path = pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/vendor/start/nerdcommenter"]
	path = pack/vendor/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "pack/vendor/start/fzf.vim"]
	path = pack/vendor/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
